* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;
}
form > div {
  display: flex;
  align-items: center;
  margin-block: 10px;
}
form > div > label {
  margin-right: 20px;
  flex-basis: 80px;
  /* font-family: ubuntu; */
}

form > div > input {
  padding: 6px;
}

#food{
    display: flex;
    flex-wrap: wrap !important;
}

form > div > div {
  display: flex;
  align-items: center;
}
form > div > div > input {
  margin-inline: 10px;
}
select {
  width: 158px;
}
